<html>
<head>
    <title>Party</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .right-wrapper {
          float: right;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Party</h1>
        <form action="addsong" method="post">
            <div class="form-group">
                <img src="data:image/png;base64, {{ .QRCode }}" height="100" width="100" align="left">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control" id="song" name="song" placeholder="Enter name">
                    <input type="hidden" class="form-control" id="partyID" name="partyID" value={{ .PartyID }}>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info">Add song</button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <h1>Songs</h1>
        <table id="song-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Artist</th>
                </tr>
            </thead>
            <tbody id="song-table-body">
            </tbody>
        </table>
    </div>
</body>
<!-- Import Jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">

</script>
<script>
    //make a updatetable function
    function updateTable(partyID) {
        //clear the table
        $("#song-table-body").empty();

        $.getJSON("/party/" + partyID + "/songs", function(data) {
            //For each song in the playlist
            $.each(data, function(i, song) {
                $("#song-table-body").append(
                    "<tr>" +
                    "<td>" + song.track.name + "</td>" +
                    "<td>" + song.track.artists[0].name + "</td>" +
                    "</tr>"
                );
            });
        });
    }
    //Get the current partyID from the URL
    var partyID = window.location.href.split("/").pop();
    //set the partyID in the form
    $("#partyID").val(partyID);
    
    //update the table
    updateTable(partyID);
    //every 10 seconds refresh the page
    setInterval(function(){
        updateTable(partyID);
    }, 10000);

    //Onload do the following:
    
</script>
</html>
